---
import Layout from "../layouts/Layout.astro";
import {Greet} from "../components/Greet.tsx";

// const data = fetch('../assets/data.ts')
---

<Layout>
	<main>
		
		<Greet client:visible />
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding-top: 10vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}

	.logo.tauri:hover {
		filter: drop-shadow(0 0 2em #24c8db);
	}

	.logo.astro:hover {
		filter: drop-shadow(0 0 2em rgb(184, 81, 34));
	}

	#greet-input {
		margin-right: 5px;
	}

	@media (prefers-color-scheme: dark) {
		.logo.light-mode-only {
			display: none;
		}
	}

	@media (prefers-color-scheme: light) {
		.logo.dark-mode-only {
			display: none;
		}
	}
</style>