---
import type { GetStaticPaths } from "astro";
import Layout from "@layouts/Layout.astro";
import HeaderSong from "@components/HeaderSong.astro";
import type { ISong } from "@interfaces/song-interfaces";
import dataSong from "@assets/data-song.json";
import Title from "@components/Title.astro";
import CardSong from "@components/CardSong.astro";

export const getStaticPaths = (() => {
  const results: ISong[] = dataSong as unknown as ISong[];

  const maps = results.map((r) => {
    return {
      params: { title: r.title },
      props: { title: r.title, id: r.id, paragraphs: r.paragraphs, chorus: r.chorus },
    };
  });

  return maps;
}) satisfies GetStaticPaths;

const songs: ISong[] = dataSong as unknown as ISong[];
---

<Layout title={'Himnos Principal'}>
  <section class="mt-10 mx-10 flex flex-col justify-center items-center">
    <HeaderSong />

    <Title title={"Himnos Principal"} />

    {
      songs.map((s) => {
        return (
          <a href={'/himnos/'+s.title}>
            <CardSong title={s.title} />
            </a>
        );
      })
    }
  </section>
</Layout>

<style>
  a {
    @apply hover:underline text-blue-500;
  }

  .title {
    @apply text-2xl capitalize;
  }

  .paragraph,
  .choir {
    white-space: pre-line;
    padding-bottom: 15px;
    font-size: 1rem;
    line-height: 110%;
  }

  .chorus-container {
    padding-top: 15px;
    padding-bottom: 15px;
  }
</style>
